*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/output
sample
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
build/
.repl_history